[flake8]
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    .mypy_cache,
    # No need to check vscode configurations
    .vscode,
    # Test file with mock code
    test_re.py,

# Plugins required before running checker
require-plugins =
    # Docstring checker
    flake8-docstrings
    # Consistent quoting
    flake8-quotes
    # Empty line after certain code blocks
    flake8-clean-block
    # PEP8 naming conventions
    pep8-naming
    # catch bugs
    flake8-bugbear
    dlint
    # Open Stack Style Guide
    hacking
    # Keep it simple
    flake8-simplify
    # test cohesion of classes and functions
    cohesion

# Enable PyFlakes syntax checking of doctests in docstrings
doctests = True

# Enforce google docstring convention
docstring-convention = google

extend-ignore =
    # Ignore cohesion checks
    H601,
    # Ignore multiple imports per line
    H301,

extend-select =
    # Extra bugbear checks
    B9,

# hacking test files options
enable-extensions = H2,

# Preffered quotes
inline-quotes = double
multiline-quotes = """
